
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Content</title>
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ytgenerator.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: "#92C7CF", // Teal
                        secondary: "#AAD7D9", // Light Teal
                        background: "#FBF9F1", // Light Cream
                        accent: "#E5E1DA", // Warm Gray    
                    }
                }
            }
        }
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <HeadOutlet />
</head>


<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
